<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<title>Form</title>
</head>
<body>
   <header class="container py-3">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="h3"><a th:href="@{/}" class="text-decoration-none text-dark">JobConnect</a></h1>
      
      <nav>
        <a th:href="@{/}" class="me-2">Home</a>
        <a th:href="@{/jobs}" class="me-2">Jobs</a>
        <a th:href="@{/register}" class="me-2">Register</a>
        <a th:href="@{/login}" class="me-2">Login</a>
        <a th:href="@{/employer/dashboard}" class="me-2">dashboard</a>
        
      </nav>
    </div>
    <hr/>
  </header>
<div>
  <h2 th:text="${job.id} == null ? 'Create Job' : 'Edit Job'"></h2>
  <form th:action="@{/employer/jobs}" method="post" th:object="${job}">
    <input type="hidden" th:field="*{id}"/>
    <label>Title: <input type="text" th:field="*{title}" required/></label><br/>
    <label>Description: <textarea th:field="*{description}"></textarea></label><br/>
    <label>Location: <input type="text" th:field="*{location}"/></label><br/>
    <label>Salary: <input type="text" th:field="*{salary}"/></label><br/>
    <label>Deadline: <input type="date" th:field="*{deadline}"/></label><br/>
    <button type="submit">Save</button>
  </form>
</div>
</body>
</html>
